a{
    text-decoration: none;
}
header{
    margin-top: 50px;
    margin-bottom: 50px;
}
header>div{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: 'nowrap';
    justify-content: space-between;
}
header>div>nav>ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    margin-right: 30px;
    position: relative;
}
header>div>nav>ul>p{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 60px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: red;
}
header>div>nav>ul>li{
    font-weight: bold;
    font-size: 20px;
    margin-right: 50px;
    position: relative;
}
header>div>nav>ul>li p{
    position: absolute;
    top: 0;
    margin-left: 13px;
    font-size: 20px;
    color: red;
}
header>div>nav>ul>li>a{
    color: black;
}
